/* Контейнер экрана */
.section_1 {
  position: relative;
  background-color: #73c431;
  width: 100%;
  height: 100vh; /* Занимает весь экран */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.main-circle {
  /* анимация вращения */
  animation: spin-circle 20s linear infinite;
}

.main-circle:hover {
  animation-play-state: paused;
}
